@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Croissant+One&family=Kalnia&family=Merriweather:wght@700&display=swap');

*{
    margin: 0px;
    padding: 0px;
    font-family: Kalnia;
}
